<div *ngIf="bestMovie" id="best-movie" [style.background-image]="'url(' + basePath+bestMovie.poster_path + ')'">
  <div class="poster">
    <img [src]="basePath+bestMovie.poster_path" alt="Best Movie Poster">
  </div>
  <div class="movie-info">
    <h2>{{bestMovie.title}}</h2>
    <p>{{bestMovie.overview}}</p>
    <p>Rating: {{bestMovie.vote_average}}/10</p>
    <a href="{{bestMovie.trailer_link}}">Watch Trailer</a>
  </div>
</div>


<div *ngIf="recommendation">
  <h1>Recommendation:</h1>
  <p id="reponse">{{ recommendation.thematic }}</p>
  <p id="reponse">{{ backgroundTheme.thematic }}</p>
  <p>{{ recommendation.thematic }}</p>
</div>

<h2>Weather Posters:</h2>
<div class="poster-container">
  <div class="poster" *ngFor="let posterPath of lstWeather">
    <img [src]="basePath+posterPath.poster_path" alt="Weather Poster">
  </div>
</div>

<div *ngFor="let genre of lstMovieGenre | keyvalue">
  <h2>{{ genre.key }} Posters:</h2>
  <div class="poster-container">
    <div class="poster" *ngFor="let movie of genre.value">
      <img [src]="basePath+movie.poster_path" alt="{{ genre.key }} Poster">
    </div>
  </div>
</div>

<div class="poster" *ngFor="let posterPath of lstWeather" (click)="openMovieDetails(posterPath.id)">
  <img [src]="basePath + posterPath" alt="Weather Poster">
</div>

<app-search></app-search>

<router-outlet></router-outlet>
