
<div [ngStyle]="{'background-color': isBlackTheme ? '#1B1B1B' : '#E3E3E3'}">
  <nav class="navbar bg-body-tertiary"> <div class="container-fluid"> <form class="d-flex" role="search"> <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-outline-success" type="submit">Search</button> </form> </div> </nav>
  
  <div *ngIf="bestMovie" id="best-movie" [ngStyle]="{'color': isBlackTheme ? '#EDEDED' : '#4B4A4A'}">
    <div class="movie-poster">

      <img [src]="basePath+bestMovie.poster_path" alt="Best Movie Poster">
    </div>
    <div class="movie-info">
      <h2 [ngStyle]="{'color': isBlackTheme ? '#EDEDED' : '#4B4A4A'}">{{bestMovie.title}}</h2>
      <p>{{bestMovie.overview}}</p>
      <p>Rating: {{bestMovie.vote_average}}/10</p>
      <a href="{{bestMovie.trailer_link}}"class="watch-trailer-btn">Watch Trailer</a>
    </div>
  </div>

  <div *ngIf="recommendation">
    <h1>Recommendation:</h1>
    <p id="reponse">{{ recommendation.thematic }}</p>
    <p id="reponse">{{ backgroundTheme.thematic }}</p>
    <p>{{ recommendation.thematic }}</p>
  </div>

  <h2 [ngStyle]="{'color': isBlackTheme ? '#EDEDED' : '#4B4A4A'}">Weather Posters:</h2>
  <div class="poster-container">
    <div class="poster" *ngFor="let posterPath of lstWeather">
      <img [src]="basePath+posterPath.poster_path" alt="Weather Poster">
    </div>
  </div>

  <div *ngFor="let genre of lstMovieGenre | keyvalue">
    <h2 [ngStyle]="{'color': isBlackTheme ? '#EDEDED' : '#4B4A4A'}">{{ genre.key }} Posters:</h2>
    <div class="poster-container">
      <div class="poster" *ngFor="let movie of genre.value">
        <img [src]="basePath+movie.poster_path" alt="{{ genre.key }} Poster">
      </div>
    </div>
  </div>

  <app-search></app-search>

  <router-outlet></router-outlet>
</div>
