body {
  font-family: Arial, sans-serif;
  background-color: #232F3E;
  color: white;
}

h1, h2 {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.poster-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.poster {
  margin: 10px;
  max-width: 185px;
  transition: transform 0.3s ease-in-out;
}

.poster:hover {
  transform: scale(1.05);
}

img {
  width: 100%;
  height: auto;
}

#best-movie {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#best-movie .movie-poster {
  flex: 0 0 300px;
  margin-right: 20px;
}

#best-movie .movie-poster img {
  width: 100%;
  height: auto;
}

#best-movie .movie-info {
  flex: 1;
}

#best-movie .movie-info h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

#best-movie .movie-info h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

#best-movie .movie-info p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#best-movie .watch-trailer-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f9a602;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

@media (max-width: 768px) {
  #best-movie {
    flex-direction: column;
  }
  
  #best-movie .movie-poster {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* Styling for the poster containers */
.poster-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent items from wrapping to new lines */
  overflow-x: auto; /* Enable horizontal scrolling */
  margin-bottom: 50px;
  padding-left: 1530px;
}

.poster {
  margin: 10px;
  max-width: 185px;
  transition: transform 0.3s ease-in-out;
  flex: 0 0 auto; /* Let the width be determined by the content */
}