<div *ngIf="recommendation">
  <h1>Recommendation:</h1>
  <h1 id="test"></h1>
  <p id="reponse">{{ recommendation.thematic }}</p>
  <p id="reponse">{{ backgroundTheme.thematic }}</p>
  <p>{{ recommendation.thematic }}</p>
</div>

<app-search></app-search>

<router-outlet></router-outlet>

<div>
  <img src='https://image.tmdb.org/t/p/w185/2KSNfS9yYDenhRhDHCTM3hSOim2.jpg'>
  <img src='https://image.tmdb.org/t/p/w185/2KSNfS9yYDenhRhDHCTM3hSOim2.jpg'>
  <img src='https://image.tmdb.org/t/p/w185/2KSNfS9yYDenhRhDHCTM3hSOim2.jpg'>
  <img src='https://image.tmdb.org/t/p/w185/2KSNfS9yYDenhRhDHCTM3hSOim2.jpg'>
</div>
<!-- https://image.tmdb.org/t/p/w185 -->  